<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SimpleMl - Machine Learning Made Simple</title>
  <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <nav class="navbar">
        <img src="../images/logo.svg" class="logo" alt="logo" />
        <ul class="nav-links">
            <li><a href="#">Home</a></li>
            <li><a href="#">Features</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
        <button>Get started</button>
        
      </nav>
    
      <!-- Hero Section -->
      <section class="hero-section">
        <div class="container">
          <h1>Simulate. Train. Succeed.</h1>
          <p class="tagline">Your gateway to effortless machine learning. Build, test, and explore models in minutes.</p>
          <div class="cta-buttons">
            <a href="#" class="btn primary">Get Started</a>
            <a href="#" class="btn secondary">Learn More</a>
          </div>
        </div>
      </section>
</body>
</html>