/* General Reset */
body{
  margin: 0;
  padding:0;
  font-family: 'Arial', sans-serif;
  position:relative;
}
.page-container{
  margin-top:50px;
  margin:auto;
  width: 90%;
  position:relative;

}




.nav-section{
  width:100%;

  box-shadow: 1px 2px 5px #b00196;
  position:sticky;
  top:0;
  z-index:20;
  background-color:white;

}
.nav-content{
  width:90%;
  margin:auto;
  display:flex;
  align-items:center;
  padding:10px 0 ;
  justify-content:space-between;
}
.navbar-links{
 display:flex;
 align-items:center;
 justify-content:center;
 gap:10px;
 list-style:none;
}
.navbar-links li a{
  color:#391c82;
  text-decoration:none;
}
.navbar-links li a:hover{
  color:#a089d7;
}
.nav-section button {
  color:white;
  background-image:linear-gradient(to bottom right , #26aade, #b00196 );
  padding:10px;
  border-radius:10px;
  border:none;
  transition:all ease-out 1s;
  cursor:pointer;
}
.nav-section button:hover {
  color:#a089d7;
  background-color:white;
  transform: translateY(5px);
  background-image:linear-gradient(to right , #26aade, #b00196 );
  background-clip:text;
  color:transparent;
  border:1px solid #b00196;
}
.nav-section h1 {
  font-size:3rem;
  font-style:italic;
  background-image:linear-gradient(to left , #a089d7, #391c82 );
  background-clip:text;

  color:transparent;
}

.nav-section .logo {
  width:200px;
}

.hero-section{
  margin: 50px auto;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  position:relative;
  border-radius:15px;
  background-image:linear-gradient(to right , #b00196, #26aade );
}

.hero-style{
  width:100%;
}
.hero-content{
  width:50%;
  display:flex;
  flex-direction:column;
  top:50px;
  align-items:center;
  margin: 20px auto ;
}
@media (max-width: 768px) {
  
}
.hero-content h1{
  color:white;
  text-align:center;
  font-size:2.4rem;
}
.hero-content p{
  color:white;
  text-align:center;
  font-size:1.2rem;
}
.hero-content button{
  
  padding:10px 20px;
  background-color:white;
  border-radius:10px;
  font-size:1rem;
  background-color:white;
  transition:all ease-out 1s;
  cursor:pointer;
  border:none;
}
.hero-content button a{
  color:transparent;
  background-clip:text;
  background-image:linear-gradient(to right , #b00196, #26aade );
  font-size:1rem;
  text-decoration:none;
  
}
.steps{
  width:100%;
  display:flex;
  flex-direction:column;
  align-items:center;
  margin-top:-40px;
}
.steps h1{
  font-weight:bold;
  font-size:3rem;
  background-image:linear-gradient(to left , #b00196, #26aade );
  background-clip:text;
  color:transparent;
}
.steps-items{
  width:100%;
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:10px;
  margin-bottom:50px;
}
.step-item:nth-child(1){
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  padding:10px 0;
  border-radius:10px;
 background-image:linear-gradient(to left  top , #b00196, #26aade );
  transition: all ease-out 1s;
  cursor:pointer;
  box-shadow: 0px 0px 15px #b00196; 
}
.step-item:nth-child(2){
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  padding:10px 0;
  border-radius:10px;
 background-image:linear-gradient( to bottom , #b00196, #26aade );
  transition: all ease-out 1s;
  cursor:pointer;
  box-shadow: 0px 0px 15px #b00196; 
}
.step-item:nth-child(3){
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  padding:10px 0;
  border-radius:10px;
 background-image:linear-gradient(to right top , #b00196, #26aade );
  transition: all ease-out 1s;
  cursor:pointer;
  box-shadow: 0px 0px 15px #b00196; 
}
.step-item div{
  width:50px;
  height:50px;
  padding:20px;
  border-radius:50%;
  display:flex;
  justify-content:center;
  background-image:linear-gradient(to bottom  , #b00196, #26aade );
 border :1px solid white; 
}

.step-item h1{
  color:white;
  font-size:1.2rem;
  font-weight:bold;

}
.step-item:hover  div{
  animation: rotation 1s linear infinite 0s;
  animation-timing-function: ease-in-out;
}
.step-item:hover  {
  transform: translateY(-10px);
}
@keyframes rotation{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}