/* General Reset */
body{
  margin: 0;
  padding:0;
  font-family: 'Arial', sans-serif;
}
.page-container{
  margin:auto;
  width: 90%;
}




.nav-section{
  width:100%;
  margin-top:10px;
  display:flex;
  align-items:center;
  justify-content:space-between;

}
.navbar-links{
 display:flex;
 align-items:center;
 justify-content:center;
 gap:10px;
 list-style:none;
}
.navbar-links li a{
  color:#391c82;
  text-decoration:none;
}
.navbar-links li a:hover{
  color:#a089d7;
}
.nav-section button {
  color:white;
  background-image:linear-gradient(to bottom right , #26aade, #b00196 );
  padding:10px;
  border-radius:10px;
  border:none;
  transition:all ease-out 1s;
  cursor:pointer;
}
.nav-section button:hover {
  color:#a089d7;
  background-color:white;
  transform: translateY(5px);
  background-image:linear-gradient(to right , #26aade, #b00196 );
  background-clip:text;
  color:transparent;
  border:1px solid #b00196;
}
.nav-section h1 {
  font-size:3rem;
  font-style:italic;
  background-image:linear-gradient(to left , #a089d7, #391c82 );
  background-clip:text;

  color:transparent;
}

.nav-section .logo {
  width:200px;
}